.relayerCard {
    width: 100%;
    max-width: 850px;
    padding: 0 27px;
    border: solid 1px #e4e4e4;
    border-radius: 2px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.04);
    margin-bottom: 15px;

    .head,
    .body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;

        @media screen and (max-width: 576px) {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
        }
    }

    & .head {
        padding: 24px 0 21px 0;
        border-bottom: solid 1px #97979744;

        span {
            font-weight: bold;
        }

        .address {
            font-weight: lighter;
            color: #979797;
        }
    }

    & .body {
        padding: 24px 0 21px 0;

        .left {
            line-height: 1;

            & > * {
                display: block;
            }

            p {
                margin-bottom: 8px;
                font-weight: 500;

                span {
                    font-size: 16px;
                    color: #7f7f7f;
                }
            }

            small {
                font-size: 14px;
                color: #979797;
            }

            @media screen and (max-width: 576px) {
                margin-bottom: 25px;
            }
        }

        .right {
            display: flex;
            align-items: center;

            p {
                font-weight: 500;
                span {
                    color: #7f7f7f;
                }
            }
        }
    }
}
