.statusPill {
    background-color: gray;
    color: #ffffff;
    padding: 8px;
    width: 68px;
    border-radius: 2px;
    text-align: center;
}

.ready {
    background-color: #42c772;
}

.error {
    background-color: #e44b4b;
}
